
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
    background-image: url(background.png);
    padding-bottom: 150px;
}

.navbar-default {
    box-shadow: 0 10px 10px -10px rgba(0,0,0,.2);
    background: rgba(255, 255, 255, 0.3) !important;
    padding-top: 10px;
    padding-bottom: 10px;
  
    
  }
.navbar a{
    font-size: 1.4em;
}

.navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: middle;
}
.navbar-default {
  text-align: center;
}


.active a{
    border-radius: 15px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

.container-tp{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left : 10px;
    padding-right : 10px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.3) !important;
    background-clip: border-box !important;
}

.container-cs{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left : 40px;
    padding-right : 40px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.3) !important;
    background-clip: border-box !important;
}



.spacing-ct{
    padding-top: 30px;
    padding-bottom: 30px;

}

.spacing-ctsmall{
    padding-top: 5px;
    padding-bottom: 5px;

}

.container-bg{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.row{
    padding-left: 1.0em;
    padding-right: 1.0em;
}



