
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
    background-image: url(background.png);
    background-size: cover;
    padding-bottom: 150px;
    font-size: medium;
}

.navbar-default {
    box-shadow: 0 10px 10px -10px rgba(0,0,0,.2);
    background: rgba(255, 255, 255, 0.3) !important;
    padding-top: 10px;
    padding-bottom: 10px;
  
    
  }
.navbar a{
    font-size: 1.4em;
}

.navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: middle;
}
.navbar-default {
    text-align: center;
}

ul {
    list-style-type: circle;
  }

/* .carousel .item{
    height: 600px;
    width: 800px;
  }
  
.item img {
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 800px;
} */

/* .carousel-caption{
    position: fixed;
    bottom: 50px;
    left: 10px;
    width: 700px;
    
} */



.active a{
    border-radius: 15px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

.container-tp{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left : 20px;
    padding-right : 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.3) !important;
    background-clip: border-box !important;
    
}


.container-vid{
    max-width: 800px;
    max-height: 600px;
    display: block;
margin: 0 auto;
    
}


.caption{
    font-size: small;
}




.container-pt{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left : 20px;
    padding-right : 20px;
    border-radius: 15px;
    max-width: 400px;
    min-height: 150px;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,.4);
    background: rgba(255, 255, 255, 0.5)!important;
    background-clip: border-box !important;
    display: flex;
    align-items: center;
}





.container-cs{
    padding-top: 40px;
    /* padding-bottom: 600px; */
    padding-left : 40px;
    padding-right : 40px;
    border-radius: 15px;
    max-height: 400px;
    max-width: 600px;
    /* background: rgba(255, 255, 255, 0.3) !important; */
    background-clip: border-box !important;
}




.spacing-ct{
    padding-top: 15px;
    padding-bottom: 15px;

}

.spacing-ctsmall{
    padding-top: 7px;
    padding-bottom: 7px;

}

.container-bg{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    
}

.row{
    padding-left: 1.0em;
    padding-right: 1.0em;
}





